<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta name="google-signin-client_id"
          content="574997752873-ph1q4ilbcijoilr8a3c4d7idau4rh95k.apps.googleusercontent.com">
    <title>5/3/1 planner</title>
    <link rel="stylesheet" href="css/site.css"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="shortcut icon" href="favicon.ico"/>
    <script src="js/AWS/aws-sdk.min.js"></script>
    <script src="js/AWS/amazon-cognito.min.js"></script>
    <script src="js/Angular/angular.js"></script>
    <script src="js/Angular/services/ui-bootstrap-tpls-0.14.3.min.js"></script>
    <script src="js/Angular/services/angular-local-storage.min.js"></script>
    <script src="js/Angular/services/angular-uuid4.min.js"></script>
    <script src="js/JQuery/jquery-2.0.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/IdentifierGenerator.js"></script>
    <script src="js/app.js"></script>
    <script src="js/Services/plannerService.js"></script>
    <script src="js/Controllers/planner.js"></script>
    <script src="js/Controllers/history.js"></script>
    <script>
        Date.prototype.yyyymmdd = function () {
            var yyyy = this.getFullYear().toString();
            var mm = (this.getMonth() + 1).toString(); // getMonth() is zero-based
            var dd = this.getDate().toString();
            return yyyy + (mm[1] ? mm : "0" + mm[0]) + (dd[1] ? dd : "0" + dd[0]); // padding
        };
        setSocialCreds();
    </script>
</head>
<body ng-app="fiveThreeOne">
<div class="page-header">
    <a class="jm-link" href="http://store.jimwendler.com/" target="_blank">Support Jim Wendler</a>

    <div id="header"></div>
</div>
<div>
    <div id="plannerController" ng-controller="plannerController as planner" ng-csp>
        <form name="calculationForm">
            <div ng-hide="planner.calculated">
                <div class="col-lg-4 col-md-12">
                    <div class="input-group">
                        <span class="input-group-addon">Units of measurement</span>

                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-repeat="measurementUnit in planner.measurementUnits"
                                    ng-class="{'active':measurementUnit==planner.selectedMeasurementUnit}"
                                    ng-click="planner.setMeasurementUnit(measurementUnit)">{{measurementUnit}}
                            </button>
                        </span>

                        <!--<div class="form-control">
                            <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
                                <button type="button" class="btn btn-default">Left</button>
                                <button type="button" class="btn btn-default">Middle</button>
                                <button type="button" class="btn btn-default">Right</button>
                            </div>
                            <p ng-repeat="measurementUnit in planner.measurementUnits">
                                <input type="radio" ng-model="planner.selectedMeasurementUnit"
                                       value="{{measurementUnit}}" ng-change="planner.saveDataToLocalStorage()">
                                {{measurementUnit}} </p>
                        </div>-->
                    </div>
                </div>
                <div class="col-lg-offset-2 col-lg-4 col-md-12">
                    <div id="my-signin2" ng-hide="planner.authorized"></div>
                    <button type="button" class="btn btn-default" onclick="gapi.signin2.signOut()" ng-show="planner.authorized">Logout Google+
                    </button>
                </div>
                <div class="clearfix"></div>
                <div class="main-lift col-lg-6" ng-repeat="mainLift in planner.mainLifts">
                    <div class="input-group">
                        <span class="label label-default">{{mainLift.name}}</span>
                    </div>
                    <div class="input-group">
                        <div class="btn-group btn-group-sm">
                            <button type="button" class="btn btn-default"
                                    ng-click="planner.estimateOneRepMax(mainLift)">
                                    <span class="glyphicon glyphicon-ok button-clickable"
                                          ng-show="mainLift.shouldEstimateOneRepMax">
                                    </span> Estimate 1 rep max
                            </button>
                            <button type="button" class="btn btn-default" ng-click="planner.enterOneRepMax(mainLift)">
                                    <span class="glyphicon glyphicon-ok button-clickable"
                                          ng-hide="mainLift.shouldEstimateOneRepMax">
                                    </span> Enter 1 rep max
                            </button>
                        </div>
                    </div>
                    <div class="input-group" ng-show="mainLift.shouldEstimateOneRepMax">
                        <span class="input-group-addon">Max reps</span>
                        <input class="form-control" type="number" min="1" max="1000" ng-model="mainLift.maxReps"
                               ng-change="planner.calculateEstimatedOneRepMax(mainLift)"
                               ng-required="mainLift.shouldEstimateOneRepMax"/>
                        <span class="input-group-addon">Max weight on reps</span>
                        <input class="form-control" type="number" min="1" max="1000" ng-model="mainLift.maxWeight"
                               ng-change="planner.calculateEstimatedOneRepMax(mainLift)"
                               ng-required="mainLift.shouldEstimateOneRepMax"/>
                        <span class="input-group-addon">{{planner.selectedMeasurementUnit}}</span>
                        <span class="input-group-addon">Estimated 1RM </span>
                        <span class="input-group-addon">{{mainLift.oneRepMax}}</span>
                        <span class="input-group-addon">{{planner.selectedMeasurementUnit}}</span>
                    </div>
                    <div class="input-group" ng-hide="mainLift.shouldEstimateOneRepMax">
                        <span class="input-group-addon">1RM</span>
                        <input class="form-control" type="number" min="1" max="1000" ng-model="mainLift.oneRepMax"
                               ng-required="!mainLift.shouldEstimateOneRepMax" placeholder="Enter one rep max"/>
                        <span class="input-group-addon">{{planner.selectedMeasurementUnit}}</span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">90% of 1 RM </span>
                        <span class="input-group-addon">{{planner.calculateNinetyPercentOfOneRepMax(mainLift)}}</span>
                        <span class="input-group-addon">{{planner.selectedMeasurementUnit}}</span>
                    </div>
                </div>


                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Plates used in calculations</div>
                        <div class="panel-body">
                            <div class="col-sm-3" ng-repeat="availablePlate in planner.getAvailablePlates()">
                                <span ng-class="{'label label-default strike': !availablePlate.usedForCalculations, 'label label-default': availablePlate.usedForCalculations}">{{availablePlate.weight}} {{availablePlate.measurementUnit}}</span>

                                <div class="calc-plate btn-group btn-group-vertical btn-group-xs">
                                    <button type="button"
                                            ng-class="{'btn btn-default btn-sm plateUsedForCalculation': availablePlate.usedForCalculations, 'btn btn-default btn-sm': !availablePlate.usedForCalculations}"
                                            ng-click="planner.addPlateToCalculation(availablePlate)"
                                            ng-disabled="availablePlate.usedForCalculations">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <button type="button"
                                            ng-class="{'btn btn-default btn-sm plateNotUsedForCalculation': !availablePlate.usedForCalculations, 'btn btn-default btn-sm': availablePlate.usedForCalculations}"
                                            ng-click="planner.removePlateFromCalculation(availablePlate)"
                                            ng-disabled="!availablePlate.usedForCalculations">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <button type="button" class="calc-button btn btn-default btn-lg"
                                    ng-click="planner.calculateMesocycle()" ng-disabled="!planner.isFormValid()">
                                    <span ng-class="{'glyphicon glyphicon-repeat button-clickable': planner.isFormValid(), 'glyphicon glyphicon-repeat button-unclickable': !planner.isFormValid()}">
                                    </span> Calculate mesocycle
                            </button>

                            <button type="button" class="btn btn-primary btn-lg" ng-show="planner.authorized" ng-click="planner.loadHistory()">
                                Load from history
                            </button>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </form>

        <div ng-show="planner.calculated">
            <div class="panel panel-default">
                <div class="panel panel-heading">
                    <button type="button" class="btn btn-default btn-lg" ng-click="planner.recalculateMesocycle()"
                            ng-hide="planner.printableVersion">
                            <span class=" glyphicon glyphicon-refresh button-clickable">
                            </span> Change data
                    </button>
                    <span ng-class="{'label label-default strike': !planner.printableVersion, 'label label-default': planner.printableVersion}">Printable version</span>

                    <div class="calc-plate btn-group btn-group-vertical btn-group-xs">
                        <button type="button"
                                ng-class="{'btn btn-default btn-sm plateUsedForCalculation': planner.printableVersion, 'btn btn-default btn-sm': !planner.printableVersion}"
                                ng-click="planner.enablePrintableVersion()" ng-disabled="planner.printableVersion">
                            <span class="glyphicon glyphicon-ok"></span>
                        </button>
                        <button type="button"
                                ng-class="{'btn btn-default btn-sm plateNotUsedForCalculation': !planner.printableVersion, 'btn btn-default btn-sm': planner.printableVersion}"
                                ng-click="planner.disablePrintableVersion()"
                                ng-disabled="!planner.printableVersion">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">Mesocycle Name</span>
                        <input class="form-control" type="text" ng-model="planner.mesocycleName" required="required"/>
                        <button type="button" class="btn btn-default" ng-click="planner.sync()">Save to History</button>
                    </div>
                    <button type="button" class="btn btn-default btn-lg" ng-click="planner.printPage()"
                            ng-show="planner.printableVersion">
                            <span class=" glyphicon glyphicon-print button-clickable">
                            </span> Print
                    </button>
                </div>
                <div class="panel panel-body">
                    <div class="accessory-work-template col-lg-12">
                        <div class="input-group" ng-hide="planner.printableVersion">
                            <span class="input-group-addon">Accessory work template</span>

                            <div class="form-control">
                                <p ng-repeat="template in planner.accessoryWorkPlanTemplates">
                                    <input type="radio" ng-model="planner.selectedAccessoryWorkTemplate"
                                           value="{{template}}" ng-change="planner.loadAccessoryWorkTemplate()">
                                    {{template}} </p>
                            </div>
                        </div>
                    </div>
                    <div class="page-break col-lg-3" ng-repeat="mainLift in planner.mainLifts">
                        <span class="label label-default" ng-hide="planner.printableVersion">{{mainLift.name}}</span>
                        <button type="button" class="btn btn-default btn-xs"
                                ng-click="planner.addAccessoryWorkExcercise(mainLift)"
                                ng-hide="planner.printableVersion">
                                <span class=" glyphicon glyphicon-plus button-clickable">
                                </span> Add accessory work excercise
                        </button>
                        <div class="accessory-excercise"
                             ng-repeat="accessoryWorkExcercise in mainLift.accessoryWorkExcercises"
                             ng-hide="planner.printableVersion">
                            <div class="input-group">
                                <span class="input-group-addon">Acc. exc.</span>
                                <input class="form-control" type="text" ng-model="accessoryWorkExcercise.name"
                                       ng-change="planner.saveDataToLocalStorage()"/>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">Sets</span>
                                <input class="form-control" type="number" min="1" max="20"
                                       ng-model="accessoryWorkExcercise.sets"
                                       ng-change="planner.saveDataToLocalStorage()"/>
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon">Reps</span>
                                <input class="form-control" type="number" min="1" max="20"
                                       ng-model="accessoryWorkExcercise.reps"
                                       ng-change="planner.saveDataToLocalStorage()"/>
                            </div>
                            <button type="button" class="btn btn-default btn-xs"
                                    ng-click="removeAccessoryWorkExcercise(mainLift, accessoryWorkExcercise)"
                                    ng-hide="planner.printableVersion">
                                    <span class=" glyphicon glyphicon-minus button-clickable">
                                    </span> Remove accessory work excercise
                            </button>
                        </div>
                        <div class="cycle" ng-repeat="cycleWeight in mainLift.cycleWeights">
                            <span class="label label-default"
                                  ng-show="planner.printableVersion">{{mainLift.name}}</span>
                            <span class="label label-primary">Cycle - {{cycleWeight.cycle}}</span>
                            <span class="label label-primary" ng-show="cycleWeight.isDeload">DELOAD</span>

                            <div class="set" ng-repeat="setWeight in cycleWeight.setWeights">
                                <span class="label label-success">Set {{setWeight.set}}</span>
                                <span class="label label-danger">{{setWeight.weight.weightToUse}} {{planner.selectedMeasurementUnit}}</span>
                                x
                                <span class="label label-danger">{{setWeight.reps}} <span
                                        ng-show="setWeight.canDoMoreReps">+</span> reps</span>

                                <span class="label label-info">Calculated weight - {{setWeight.weight.rawWeight}} {{planner.selectedMeasurementUnit}}</span>
                                <span class="label label-warning">{{setWeight.percentages}} % from 90% of 1RM </span>

                                <div class="plates">
                                    <span ng-show="{{setWeight.weight.platesVisible}}" class="label label-default">Plates:</span>

                                    <div ng-repeat="plateToUse in setWeight.weight.platesToUse">
                                        <span class="plateCount">{{plateToUse.plateCount}}</span>
                                        x <span class="badge">{{plateToUse.plateWeight}} {{planner.selectedMeasurementUnit}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="accessory-excercise"
                                 ng-repeat="accessoryWorkExcercise in mainLift.accessoryWorkExcercises"
                                 ng-show="planner.printableVersion">
                                <div class="input-group">
                                    <span class="input-group-addon">Acc. exc.</span>
                                    <span class="input-group-addon">{{accessoryWorkExcercise.name}}</span>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">Sets</span>
                                    <span class="input-group-addon" ng-hide="cycleWeight.isDeload">{{accessoryWorkExcercise.sets}}</span>
                                    <span class="input-group-addon" ng-show="cycleWeight.isDeload">DELOAD</span>
                                </div>
                                <div class="input-group">
                                    <span class="input-group-addon">Reps</span>
                                    <span class="input-group-addon" ng-hide="cycleWeight.isDeload">{{accessoryWorkExcercise.reps}}</span>
                                    <span class="input-group-addon" ng-show="cycleWeight.isDeload">DELOAD</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://apis.google.com/js/platform.js?onload=prepareGAPI" async defer></script>
<script>
    function prepareGAPI() {
        gapi.signin2.render('my-signin2', {
            'scope': 'https://www.googleapis.com/auth/plus.login',
            'width': 200,
            'height': 50,
            'longtitle': true,
            'theme': 'dark',
            'onsuccess': function (googleUser) {
                console.log('Google+ Login Successful');
                angular.element($('#plannerController')).scope().authorize('Google', googleUser.getAuthResponse().id_token);
            },
            'onfailure': function (error) {
                console.log(error);
            }
        });
        gapi.signin2.signOut = function () {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                angular.element($('#plannerController')).scope().deauthorize('Google');
            });
        };
    }
</script>
</body>
</html>
